In [17]:
import pandas as pd
from scipy.stats import ttest_ind
df=pd.read_csv('dataset w7.csv')
df

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [18]:
mean=df['Total Marks'].mean()

In [19]:
mean

32.32142857142857

In [20]:
mean1=df.groupby('Gender')['Total Marks'].mean()
mean1

Gender
female    33.750000
male      30.416667
Name: Total Marks, dtype: float64

In [21]:
median1=df.groupby('Gender')['Total Marks'].median()
median1

Gender
female    39.0
male      29.0
Name: Total Marks, dtype: float64

In [22]:
df.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [23]:
df['Gender'].describe()

count         28
unique         2
top       female
freq          16
Name: Gender, dtype: object

In [24]:
df['Gender'].value_counts()

female    16
male      12
Name: Gender, dtype: int64

In [25]:
df.groupby('Gender')['Test preparation'].value_counts()

Gender  Test preparation
female  none                12
        completed            4
male    none                 9
        completed            3
Name: Test preparation, dtype: int64

In [26]:
df.groupby('Test preparation')['Total Marks'].mean()

Test preparation
completed    44.571429
none         28.238095
Name: Total Marks, dtype: float64

In [27]:
df.groupby('Gender')['Total Marks'].mean()

Gender
female    33.750000
male      30.416667
Name: Total Marks, dtype: float64

## 2

In [31]:
#H0=both scored same marks
#H1=both scored different marks
a = .05
Male = df[df["Gender"]== "male"][["Total Marks"]]
Female = df[df["Gender"]== "female"][["Total Marks"]]
t_score,p_value = ttest_ind(Male,Female)
print('The result is:',t_score,p_value)

if (p_value > a):
    print( "accept null hypothesis ")
else:
    print("null hypothesis rejected ")

The result is: [-0.69408853] [0.49378223]
  accept null hypothesis

In [ ]:
#both scored same marks

### 3

In [33]:
#H0= tst preparation helped students
#H1=test preparation doesn't help students
a = .05
TestPrep_Male = df[df["Test preparation"]=="completed"][["Total Marks"]]
TestPrep_Female = df[df["Test preparation"]=="none"][["Total Marks"]]
t_score,p_value2 = ttest_ind(TestPrep_Male,TestPrep_Female)
print('The result is:',t_score,p_value2)

if (p_value2 > a):
    print('accept the null hypothesis')
else:
    print("the null hypothesis is rejected")

The result is: [3.61436375] [0.00126713]
the null hypothesis is rejected

In [ ]:
#test preparation doesn't help students